/* Navbar container */
:root {
    --z4-blue: rgb(70, 0, 154);
    --BorderThickness: 2.3px;
    --navBarFontWeight: 400;
}

html,
body {
    overflow-x: hidden;
}

body {
    position: relative;
    width: 100%;
    /* -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box; */
    padding: 0px;
    margin: 0px;
    color: rgb(84, 84, 84);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

table {
    padding: 18px 24px;
    width: 100%;
    text-align: left;
}

th {
    vertical-align: top;
    width: 50%;
    padding: 0px 20px;
}

/* //////////////////////////////// */
/* ///////for browser screen/////// */
/* //////////////////////////////// */

@media only screen and (min-width: 860px) {
    .wrapper {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .twoColumns {
        padding: 0px 80px 80px 80px;
    }

    .oneColumn {
        position: relative;
        padding: 100px 17%;
    }

    .logo {
        margin: 0px 0px;
    }

    .navbar {
        display: grid;
        grid-template-columns: 1fr 490px;
        padding: 20px 24px;
        font-size: 1.1em;
        font-weight: var(--navBarFontWeight);
        line-height: 1.3;
        letter-spacing: -0.01em;
        font-style: bold;
        color: var(--z4-blue);
    }

    .stripes {
        display: none;
    }

    .navbarElements {
        padding-top: 4px;
        display: block;
        width: 100%;
    }

    .navbar a {
        border: 2px;
        border-radius: 18px;
        border-style: solid;
        border-color: transparent;
        margin: 0px 8px 0px 0px;
        padding: 4px 8px;
        color: inherit;
        float: left;
        text-align: right;
        text-decoration: none;
    }

    .dropdown {
        border: var(--BorderThickness);
        border-radius: 18px;
        border-style: solid;
        border-color: var(--z4-blue);
        padding: 4px 0px;
        float: left;
    }

    .dropdown img {
        padding: 0px 0 1px 2px;

    }

    .dropdown .dropbtn {
        padding: 0px 10px;
        outline: none;
        border: none;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        letter-spacing: inherit;
        font-style: inherit;
        color: inherit;
    }

    .navbar a:hover,
    .dropdown:hover .dropbtn {
        color: rgb(212, 47, 47);
        -webkit-transition: -webkit-transform 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
    }

    /* Dropdown content (hidden by default) */
    .dropdown-content {
        margin: 6px 0 0 0;
        padding: 6px 0 0 0;
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
        display: none;
        position: absolute;
        z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        margin: 2px 0 0 0;
        padding: 10px 8px;
        float: none;
        display: block;
        text-align: left;
    }


    .dropdown-content a:hover {
        color: rgb(212, 47, 47);
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    .navbarElements {
        padding-top: 7px;
    }


    .audioLooper {
        /* padding-left: 65px; */
        margin-left: 28px;
        margin-right: 180px;
        grid-template-columns: 70px 70px 100%;
    }

    .audioPlayer {
        padding-left: 65px;
        padding-right: 125px;
        grid-template-columns: 10% 90%;
    }

    .coverImg {
        height: 1000px
    }

    .bigHeader {
        margin: 650px 0px 0px 0px;
    }

    h1 {
        font-size: 8em;
    }

    h2 {
        font-size: 2.4em;
    }

}

/* //////////////////////////////// */
/* ///////for tablet screen//////// */
/* //////////////////////////////// */

@media only screen and (max-width: 860px) and (min-width: 500px) {

    .wrapper {
        display: grid;
        grid-template-columns: 100%;
    }

    .twoColumns {
        padding: 10px 50px 50px 50px;
    }

    .logo {
        margin: 0px 0px 0 -10px;
        padding: 0px;
        height: 28px;
    }

    .navbarElementsBk {
        float: left;
        backdrop-filter: blur(30px);
        text-align: left;
        display:grid;    
        -webkit-backdrop-filter: blur(30px);
        width: 205px;
        margin-left: auto;
        margin-right: 0px;
        padding: 0px;
    }

    .navbarElements {
        position: absolute;
        /* float: right; */
        z-index: 20;
        display: none;
        margin-left: 70%;
        margin-top: 7%;
        margin-right: 0;
    }

    .navbarElement {
        /* grid-column: 1; */
        padding: 0px;
        z-index: 20;
        /* grid-area: a; */
        margin-left: 0px;
        margin-right: auto;
    }

    .oneColumn {
        padding: 20px 50px;
    }

    .navbar {
        margin-left: auto;
        margin-right: 0;
        z-index: 20;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas:
            "a b"
            "d c";
        padding: 18px 24px;
        font-size: 1em;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: -0.02em;
        font-style: bold;
        color: var(--z4-blue);
    }

    .stripes {
        grid-area: b;
        align-items: flex-end;
        float: right;
        text-align: right;
        margin-top: 6px;
        margin-bottom: 16px;
    }


    .navbar a {
        padding: 4px 12px;
        color: inherit;
        float: left;
        text-align: center;
        text-decoration: none;
    }

    .dropdown {
        float: left;
    }

    .dropdown .dropbtn {
        outline: none;
        border: none;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        letter-spacing: inherit;
        font-style: inherit;
        color: inherit;
    }

    .navbar a:hover {
        ccolor: rgb(212, 47, 47);
        -webkit-transition: -webkit-transform 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
    }

    .stripes {
        outline: none;
        border: none;
        background-color: transparent;
    }

    .stripes button {
        background-color: black;
    }


    /* Dropdown content (hidden by default) */
    .dropdown-content {
        z-index: 10;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        padding: 4px 8px;
        margin-left: 16px;
        float: none;
        display: block;
        text-align: left;
    }

    .dropdown-content a:hover {
        color: rgb(212, 47, 47);
    }

    .audioLooper {
        padding-left: 40px;
        padding-right: 140px;
        grid-template-columns: 14% 14% 85%;
    }

    .audioPlayer {
        padding-left: 40px;
        padding-right: 140px;
        grid-template-columns: 10% 90%;
    }

    .coverImg {
        height: 800px
    }

    .bigHeader {
        margin: 490px 0px 0px -16px;
    }

    h1 {
        font-size: 6em;
    }

    h2 {
        font-size: 1.8em;
    }

}

/* //////////////////////////////// */
/* ///////for phone screen///////// */
/* //////////////////////////////// */

@media only screen and (max-width: 500px) {

    .wrapper {
        display: grid;
        grid-template-columns: 100%;
    }

    .twoColumns {
        padding: 10px 50px 50px 50px;
    }

    .logo {
        margin: 0px 0px 0 -10px;
        padding: 0px;
        height: 28px;
    }

    .navbarElementsBk {
        float: left;
        backdrop-filter: blur(30px);
        text-align: left;
        display:grid;    
        -webkit-backdrop-filter: blur(30px);
        width: 205px;
        margin-left: auto;
        margin-right: 0px;
        padding: 0px;
    }

    .navbarElements {
        position: absolute;
        /* float: right; */
        z-index: 20;
        display: none;
        margin-left: 40%;
        margin-top: 12%;
        margin-right: 0;
    }

    .navbarElement {
        /* grid-column: 1; */
        padding: 0px;
        z-index: 20;
        /* grid-area: a; */
        margin-left: 0px;
        margin-right: auto;
    }

    .oneColumn {
        padding: 20px 50px;
    }

    .navbar {
        margin-left: auto;
        margin-right: 0;
        z-index: 20;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas:
            "a b"
            "c d";
        padding: 18px 24px;
        font-size: 1em;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: -0.02em;
        font-style: bold;
        color: var(--z4-blue);
    }

    .stripes {
        grid-area: b;
        align-items: flex-end;
        float: right;
        text-align: right;
        margin-top: 7px;
        margin-bottom: 16px;
    }


    .navbar a {
        padding: 4px 12px;
        color: inherit;
        float: left;
        text-align: center;
        text-decoration: none;
    }


    .dropdown {
        float: left;
    }



    .dropdown .dropbtn {
        outline: none;
        border: none;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        letter-spacing: inherit;
        font-style: inherit;
        color: inherit;
    }

    .navbar a:hover {
        ccolor: rgb(212, 47, 47);
        -webkit-transition: -webkit-transform 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
    }

    .stripes {
        outline: none;
        border: none;
        background-color: transparent;
    }

    .stripes button {
        background-color: black;
    }


    /* Dropdown content (hidden by default) */
    .dropdown-content {
        z-index: 10;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        padding: 4px 8px;
        margin-left: 16px;
        float: none;
        display: block;
        text-align: left;
    }

    .dropdown-content a:hover {
        color: rgb(212, 47, 47);
    }

    .audioLooper {
        padding-left: 40px;
        padding-right: 140px;
    }

    .audioPlayer {
        padding-left: 40px;
        padding-right: 140px;
    }

    .coverImg {
        height: 490px
    }

    .bigHeader {
        margin: 275px 0px 0px -23px;
    }

    h1 {
        font-size: 4.2em;
    }

    h2 {
        font-size: 1.1em;
    }

}

.dropdown-content {
    padding-top: 10px;
    z-index: 3;
    /* background-color: rgba(255, 255, 255, 0.9); */
}

.dropbtn {
    background-color: transparent;
}

.bigHeader {

    position: relative;
    z-index: 0;
    padding: 0px 20px 0px 20px;
    text-align: center;
    width: 100%;

}

header {
    z-index: 20;
}

.cover {
    width: 100%;
    position: absolute;
    z-index: -2;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,
h2 {
    color: var(--z4-blue);
}

h1 {
    z-index: 1;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    letter-spacing: -7px;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
}

h2 {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    letter-spacing: -1px;
    padding: 0px 0 30px;
    margin: 0px 0 0 0;
    font-weight: 400;
}

h3 {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 2em;
    line-height: 3em;
    margin-block-end: 0px;
    font-weight: 500;
    font-style: bold;
    color: var(--z4-blue);
    text-align: left;
}

p {
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.5em;
    margin: 0px;

}

.emp1 {

    background-color: rgb(137, 128, 65);
    color: rgb(255, 255, 255);
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.5em;
    padding: 20px 80px;
    height: auto;

}

.footerText {
    padding-top: 15px;
    color: white;
    display: block;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.5em;
    margin: 0px;
}

.footerText a {
    box-sizing: border-box;
    padding-left: 30px;
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 400;
}

.wideImage {
    max-height: 100%;
    min-width: 100%;
    max-width: 100%;
}

strong {
    font-weight: 700;
    overflow-wrap: break-word;
    -webkit-font-smoothing: subpixel-antialiased;
}

footer {
    background-color: var(--z4-blue);
    white-space: nowrap;
}

.audioLooper {
    display: grid;
    padding-bottom: 50px;
    /* grid-template-columns: 14% 14% 85%; */
    grid-template-areas:
        "d d d"
        "a b c"
    ;
}

.audioPlayer {
    display: grid;
    padding-bottom: 50px;
    /* grid-template-columns: 10%  90%; */
    grid-template-areas:
        "d d d"
        "a c c"
    ;
}

#waveform1,
#waveform2 {
    margin-left: 10px;
    border: 1px;
}

.transportBtn {
    padding-top: 3px;
    background-color: transparent;
    border: none;
}

.audioPlrName {
    margin-left: 10px;
    margin-bottom: 5px;
}

.audioPlayer {
    display: grid;
    padding-bottom: 50px;

}