/* Navbar container */
:root {
    --z4-blue: rgb(102, 95, 165);
}

/* for big browser window */
@media only screen and (min-width: 785px) {
    .wrapper {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .twoColumns {
        padding: 10px 80px 80px 80px;
    }

    .oneColumn {
        padding: 50px 215px;
    }

    .navbar {
        /* backdrop-filter: blur(40px); */
        /* background-color: rgba(214, 254, 208, 0.1); */
        display: grid;
        grid-template-columns: 1fr 400px;

        padding: 18px 24px;
        font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        font-size: 1.1em;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: -0.02em;
        font-style: bold;
        color: var(--z4-blue);
    }

    .stripes {
        display: none;
    }

    .navbarElements {
        padding-top: 6px;
        display: grid;
        grid-auto-flow: column;
    }

    .navbar a {
        padding: 4px 12px;
        color: inherit;
        float: left;
        text-align: center;
        text-decoration: none;
    }


    .dropdown {
        padding: 4px 12px;
        float: left;
    }

    .dropdown .dropbtn {
        padding: 0px 8px;
        outline: none;
        border: none;
        /* background-color: rgb(214, 254, 208); */
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        letter-spacing: inherit;
        font-style: inherit;
        color: inherit;
    }

    .navbar a:hover,
    .dropdown:hover .dropbtn {
        color: rgb(139, 198, 60);
        -webkit-transition: -webkit-transform 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
    }

    /* Dropdown content (hidden by default) */
    .dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        padding: 8px 8px;
        float: none;
        display: block;
        text-align: left;
    }


    .dropdown-content a:hover {
        color: rgb(139, 198, 60);
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    .navbarElements {
        padding-top: 6px;
    }
}


/* for mobile devices */
@media only screen and (max-width: 785px) {


    .wrapper {
        display: grid;
        grid-template-columns: 100%;
    }

    .twoColumns {
        padding: 10px 50px 50px 50px;
    }

    .navbarElementsBk{
        backdrop-filter: blur(30px);
        width:170px;
        margin-left: auto;
        margin-right: 0;
        padding: 0px;
    }

    .navbarElements {
        /* backdrop-filter: blur(4px); */
        z-index: 20;
        display: grid;
        grid-area: d;
        padding: 0px;
        margin-left: auto;
        margin-right: 0;
    }

    .navbarElement {
        padding: 0px;
        z-index: 20;
        margin-left: auto;
        margin-right: 0;
        margin-right: 0px;
    }

    .oneColumn {
        padding: 20px 50px;
    }

    .navbar {
        margin-left: auto;
        margin-right: 0;
        z-index: 20;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas:
            "a b"
            "c d";
        padding: 18px 24px;
        font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        font-size: 1.1em;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: -0.02em;
        font-style: bold;
        color: var(--z4-blue);
    }

    .stripes {
        grid-area: b;
        align-items: flex-end;
        float: right;
        text-align: right;
        margin-top: auto;
        margin-bottom: 16px;
    }


    .navbar a {
        padding: 4px 12px;
        color: inherit;
        float: left;
        text-align: center;
        text-decoration: none;
    }


    .dropdown {
        padding: 4px 3px;
        float: left;
    }

  

    .dropdown .dropbtn {
        padding: 0px 8px;
        outline: none;
        border: none;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        letter-spacing: inherit;
        font-style: inherit;
        color: inherit;
    }

     .navbar a:hover
     {
        color: rgb(139, 198, 60);
        -webkit-transition: -webkit-transform 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
    } 

    .stripes {
        outline: none;
        border: none;
        background-color: transparent;
    }

    .stripes button {
        background-color: black;
    }


    /* Dropdown content (hidden by default) */
    .dropdown-content {
        z-index: 10;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        padding: 4px 8px;
        margin-left: 16px;
        float: none;
        display: block;
        text-align: left;
    }

    .dropdown-content a:hover {
        color: rgb(139, 198, 60);
    }
}

.dropbtn {
    background-color: transparent;
}

.bigTanhx {
    position: absolute;
    z-index: 1;
    top: 0;
    margin: 40% 0%;
    text-align: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

header {
    z-index: 20;
}


.backgroundImage {
    background-image: url("/img/1.jpg");
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: 100%;
    /* height: 500px; */
}

body {
    padding: 0px;
    margin: 0px;
}

a {
    padding: 0px;
    margin: 0px;
}


table {
    padding: 18px 24px;
    width: 100%;
    text-align: left;
}


th {
    vertical-align: top;
    width: 50%;
    padding: 0px 20px;
}

h1 {
    z-index: 1;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    /* font-size: 7em; */
    height: 58px;
    letter-spacing: -2.56px;
    line-height: 58px;
    margin-block-end: 0px;
    font-weight: 500;
    font-style: bold;
    color: var(--z4-blue);
    margin: 0px;
    text-align: center;
    /* padding-top: 285px; */
    /* padding-bottom: 308px; */
}

h3 {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 2em;
    line-height: 57.6px;
    margin-block-end: 0px;
    font-weight: 500;
    font-style: bold;
    color: var(--z4-blue);
    /* margin: 0px; */
    text-align: left;
}

p {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17.6px;
    font-weight: 300;
    letter-spacing: 0.352px;
    line-height: 26.4px;
    margin: 0px;

}


.footerText {
    box-sizing: border-box;
    padding-top: 15px;
    color: white;
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    font-weight: 300;
    line-height: 1.5em;
    margin: 0px;
}

.footerText a {
    box-sizing: border-box;
    padding-left: 30px;
    color: white;
    text-decoration: underline;
    /* display: block; */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.3em;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 26.4px;
    /* margin: 0px; */
}

.wideImage {
    max-height: 100%;
    min-width: 100%;
    max-width: 100%;
}

strong {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #444;
    font-weight: bold;
    font-size: 17.6px;
    font-weight: 700;
    letter-spacing: 0.352px;
    line-height: 26.4px;
    overflow-wrap: break-word;
    text-align: left;
    -webkit-font-smoothing: subpixel-antialiased;
}





footer {
    background-color: var(--z4-blue);
}